---
interface Props {
  pageTitle?: string;
}

const navigationItems = [
  { name: 'Home', url: '/' },
  { name: 'Reviews', url: '/blog/' },
];

const socialIcons = [
  // {
  //   name: 'GitHub',
  //   url: 'https://github.com/enough-jainil',
  //   icon: 'i-uil-github',
  // },
  // {
  //   name: 'Twitter',
  //   url: 'https://x.com/enough_jainil',
  //   icon: 'i-uil-twitter',
  // },
  { name: 'RSS', url: '/feed.xml', icon: 'i-uil-rss' },
];

const { pageTitle } = Astro.props;
---

<header class='border-b-4 border-black flex justify-between p-4 sm:p-6 items-center'>
  {pageTitle && <h1 class='hidden'>{pageTitle}</h1>}
  <a href='/' title='Back to Home'>
    <p class='righteous text-2xl sm:text-3xl md:text-5xl'>Traceback</p>
  </a>
  <nav class='hidden md:inline-block'>
    <h2 class='hidden'>Navigation</h2>
    <ul class='flex gap-8 poppins'>
      {
        navigationItems.map((item) => (
          <li>
            <a
              class='text-lg font-medium hover:text-green hover:underline transition-all duration-150 ease-in-out'
              href={item.url}
              title={`Go to ${item.name}`}
            >
              {item.name}
            </a>
          </li>
        ))
      }
      <li>
        <a href="/search" class="hover:text-green transition-all duration-150 ease-in-out">
          <div class="i-uil-search w-6 h-6" />
        </a>
      </li>
      {
        socialIcons.map((item) => (
          <li>
            <a
              href={item.url}
              class='hover:text-green hover:underline transition-all duration-150 ease-in-out'
              target='_blank'
              rel="noopener noreferrer"
              title={`Follow us on ${item.name}`}
            >
              <div class:list={[item.icon, 'w-6 h-6']} />
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
  <nav class='md:hidden'>
    <h2 class='hidden'>Mobile Navigation</h2>
    <ul class='flex items-center gap-4'>
      <li>
        <a 
          href='/blog/' 
          class='text-base font-medium hover:text-green transition-all duration-150 ease-in-out'
        >
          Reviews
        </a>
      </li>
      <li>
        <a 
          href='/search' 
          class='text-base hover:text-green transition-all duration-150 ease-in-out'
        >
          <div class='i-uil-search w-5 h-5' />
        </a>
      </li>
    </ul>
  </nav>
</header>
