---
import Layout from '@layouts/Default.astro';
import MovieDetails from '@components/movie/MovieDetails.astro';

const { content } = Astro.props;
const { title, description, movieId } = content;

const ogImage = new URL(`/v1/generate/og/${Astro.params.slug}.png`, Astro.url);
---

<Layout
  title={title}
  description={description}
  ogImage={ogImage}
  showRecent={true}
>
  <main class='w-full'>
    <!-- Movie Details Component -->
    <MovieDetails movieId={movieId} />
    
    <!-- Review Content -->
    <div class="text-xl max-w-7xl mx-auto px-4 py-8 prose prose-lg">
        <slot />
      
    </div>
  </main>
</Layout>